/**
 * Created by BRITENET on 12.10.2019.
 */
.THIS {
}

.THIS.iterableRow {
    border-top: 1px solid #d8dde6;
    padding-top: 10px;
    margin-top: 5px;
}

.THIS.rowCart {
    padding: 5px;
    height: auto;
}

.THIS.rowCart:hover {
    padding: 5px;
    background-color: gray;
    cursor: pointer;
}

.THIS h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.THIS h4 {
    font-size: 0.75em;
}